*.class
*.exe
*.dat
*.txt

/Practicas/CalculadoraSIF/nbproject/private/
/Practicas/CalculadoraSIF/build/
/Practicas/Jueguitos/nbproject/private/
/Practicas/Jueguitos/build/
/Practicas/Reaprendiendo/build/
/Practicas/Reaprendiendo/dist/
/Practicas/Pruebas/nbproject/private/
/Practicas/Pruebas/build/
/Practicas/Clase/nbproject/private/
/Practicas/Clase/build/
/Practicas/Tienda/nbproject/private/
/Practicas/Tienda/build/
/Practicas/Examen/nbproject/private/
/Practicas/Examen/build/
/Tec/Segundo_sem/POO/Proyectos_clases/MiPrimerProyecto/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/MiPrimerProyecto/build/
/Tec/Segundo_sem/POO/Proyectos_clases/SegundoProyecto/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/SegundoProyecto/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DepSocial/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DepSocial/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCadenas/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCadenas/build/
/Tec/Segundo_sem/POO/Proyectos_clases/EjemploPersona/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/EjemploPersona/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Cartelera/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/ProbaEsta/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCliente/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCliente/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Escuela/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DeArregloEst1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DeArregloEst1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DeArreglo2/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Empresa1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Empresa1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppAgenda/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AppAgenda/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Caja/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoSuper1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoSuper1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoHerencia1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoHerencia1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppTienda/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoEmpre1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoEmpre1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppUniversitaria/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AppBiblioteca/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AppBiblioteca/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Windows/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Windows/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoTienda/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoTienda/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Figura/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoPersonalidades/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoBaseDatos/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoBaseDatos/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura2/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura2/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppTienda/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Try1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Try1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AlumnoExc/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AlumnoExc/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Excepcion1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Excepcion1/build/
/Tec/Segundo_sem/POO/Examen_07042017/AppTienda/nbproject/private/
/Tec/Segundo_sem/POO/Examen_07042017/AppTienda/build/
/Tec/Segundo_sem/POO/Examen_07042017/Excepciones/nbproject/private/
/Tec/Segundo_sem/POO/Examen_07042017/Excepciones/build/
/Tec/Segundo_sem/POO/Examen_07042017/Excepciones1/nbproject/private/
/Tec/Segundo_sem/POO/Examen_07042017/ExcepApp/nbproject/private/
/Tec/Segundo_sem/POO/Examen_07042017/ExcepApp/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Excepciones/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Excepciones/nbproject/private/
/Tec/EjerciciosIsma/TiendaAbarrotes/nbproject/private/
/Tec/EjerciciosIsma/EscribirArchivo/nbproject/private/
/Tec/EjerciciosIsma/EscribirArchivo/build/
/Tec/EjerciciosIsma/LeerArchivo/nbproject/private/
/Tec/EjerciciosIsma/LeerArchivo/build/
/Tec/Segundo_sem/POO/Proyectos_clases/EscribirArchivoTexto/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/EscribirArchivoTexto/build/
/Tec/Segundo_sem/POO/Proyectos_clases/LeerArchivoTexto/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/LeerArchivoTexto/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Archivo1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Archivo1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/EscArchivoBinario/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/EscArchivoBinario/build/
/Tec/Segundo_sem/POO/Proyectos_clases/LeerArchivoBinario/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/LeerArchivoBinario/build/
/Tec/Segundo_sem/POO/Proyectos_clases/EscribeMatriz/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/EscribeMatriz/build/
/Tec/Segundo_sem/POO/Proyectos_clases/EscArchivoSec/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/EscArchivoSec/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Miscelanea1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/CArchSecEsc02/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/CArchSecEsc02/build/
/Tec/Segundo_sem/POO/Proyectos_clases/ArchivoDirecto1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/ArchivoDirecto1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/ModificarrchivoDirecto/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/ModificarrchivoDirecto/build/
/Tec/Segundo_sem/POO/Proyectos_clases/EscribeDatos/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/LeerDatos/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/EscribeDatos/build/
/Tec/Segundo_sem/POO/Proyectos_clases/LeerDatos/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Clases/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Clases/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Serializar/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Serializar/build/
/Tec/Segundo_sem/Calculo_Integral/MetodoGaussJordan/nbproject/private/
/Tec/Segundo_sem/Calculo_Integral/MetodoGaussJordan/build/
/Tec/Segundo_sem/Calculo_Integral/DemoSerializable/nbproject/private/
/Tec/Segundo_sem/Calculo_Integral/DemoSerializable/build/
/Tec/Segundo_sem/Calculo_Integral/ClasesCompuestas/nbproject/private/
/Tec/Segundo_sem/Calculo_Integral/ClasesCompuestas/build/
/Tec/Segundo_sem/Calculo_Integral/SolucionCabeceraOOS/nbproject/private/
/Tec/Segundo_sem/Calculo_Integral/TestInterfaz/nbproject/private/
/Tec/Segundo_sem/Calculo_Integral/TestInterfaz/build/
/Tec/Segundo_sem/Practicas_Interfaces/Interfaz1/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/Interfaz1/build/
/Tec/Segundo_sem/Practicas_Interfaces/Navegacion/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/Navegacion/build/
/Tec/Segundo_sem/Practicas_Interfaces/LoginGrafico/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/LoginGrafico/build/
/Tec/Segundo_sem/POO/Examen_010617/EmpresaAgroAli/nbproject/private/
/Tec/Segundo_sem/POO/Examen_010617/EmpresaAgroAli/build/
/Tec/Segundo_sem/Practicas_Interfaces/EjemploTabla/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/EjemploTabla/build/
/Tec/Segundo_sem/Practicas_Interfaces/CalificacionesRegional/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/CalificacionesRegional/build/
/Tec/Segundo_sem/Practicas_Interfaces/CalificacionesEquipos/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/CalificadosEquipos/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/CalificadosEquipos/build/
/Tec/Segundo_sem/Examenes_Recuperacion/EquiposCalificados/nbproject/private/
/Tec/Segundo_sem/Examenes_Recuperacion/EquiposCalificados/build/
/Tec/Segundo_sem/Examenes_Recuperacion/TestPasoDatos/nbproject/private/
/Tec/Segundo_sem/Examenes_Recuperacion/AppGrafica1/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/CalculadorAlgebraica/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/CalculadorAlgebraica/build/
/Tec/Segundo_sem/Practicas_Interfaces/Yabaladora/nbproject/private/
/Tec/Segundo_sem/Practicas_Interfaces/Yabaladora/build/
/Tec/Verano 2017/Probabilistica/TestDistribucion/nbproject/private/
/Tec/Verano 2017/Probabilistica/TestDistribucion/build/
/Tec/Verano 2017/Probabilistica/TestDistribucion/dist/
/Tec/Verano 2017/Probabilistica/DistribucionFrecuencias/nbproject/private/
/Tec/Verano 2017/Probabilistica/DistribucionFrecuencias/build/
/Tec/Verano 2017/Probabilistica/DistribucionFrecuencias/dist/
/Tec/Verano 2017/Encargos/ProbaPancho/nbproject/private/
/Tec/Verano 2017/Encargos/ProbaPancho/build/
/Tec/Verano 2017/Encargos/CuestionarioEuler/nbproject/private/
/Tec/Verano 2017/Encargos/CuestionarioEuler/build/
/Tec/Verano 2017/Encargos/CuestionarioDiana/nbproject/private/
/Tec/Verano 2017/Encargos/CuestionarioDiana/build/
/Tec/Verano 2017/Encargos/CuestionarioDiana/dist/
/Tec/Verano 2017/Encargos/CuestionarioEuler/dist/
/Tec/Verano 2017/Encargos/AppDistNormal/nbproject/private/
/Tec/Verano 2017/Encargos/AppDistNormal/build/
/Tec/Verano 2017/Encargos/Graficadora/nbproject/private/
/Tec/Verano 2017/Encargos/Graficadora/build/
/Tec/Verano 2017/Encargos/AppJiCuadrado/nbproject/private/
/Tec/Verano 2017/Encargos/AppJiCuadrado/build/
/Tec/Verano 2017/Encargos/CalcDistPro/nbproject/private/
/Tec/Verano 2017/Encargos/CalcDistPro/build/
/Tec/Verano 2017/Encargos/CalcDistPro/dist/
/Tec/Tercer semestre/Fun_Julisa/CalFinal/nbproject/private/
/Tec/Tercer semestre/Fun_Julisa/CalFinal/build/
/Tec/Tercer semestre/Fun_Julisa/DescuentoDeSuerte/nbproject/private/
/Tec/Tercer semestre/Fun_Julisa/DescuentoDeSuerte/build/
/Tec/Tercer semestre/Fun_Julisa/LectorHora/nbproject/private/
/Tec/Tercer semestre/Fun_Julisa/LectorHora/build/
/Tec/Tercer semestre/Fun_Julisa/TresNumeros/nbproject/private/
/Tec/Tercer semestre/Fun_Julisa/TresNumeros/build/
/Tec/Tercer semestre/Fun_Julisa/CuantosSegundos/nbproject/private/
/Tec/Tercer semestre/Fun_Julisa/CuantosSegundos/build/
/Tec/Tercer semestre/EscribirLeerDatos/nbproject/private/
/Tec/Tercer semestre/EscribirLeerDatos/build/
/Tec/Invierno 2018/EjemPilas1/nbproject/private/
/Tec/Invierno 2018/EjemPilas1/build/
/Tec/Invierno 2018/EjemNodo1/nbproject/private/
/Tec/Invierno 2018/EjemListaEnlazada/nbproject/private/
/Tec/Invierno 2018/EjemListaEnlazada/build/
/Tec/Invierno 2018/BarajaEsp/nbproject/private/
/Tec/Invierno 2018/JuegoBaraja/nbproject/private/
/Tec/Invierno 2018/BarajaEsp/build/
/Tec/4to semestre/Estructura de datos/Fibonacci/nbproject/private/
/Tec/4to semestre/Estructura de datos/Fibonacci/build/
/Tec/4to semestre/Estructura de datos/SumaViente/nbproject/private/
/Tec/4to semestre/Estructura de datos/SumaViente/build/
/Tec/4to semestre/Estructura de datos/DeciABina/nbproject/private/
/Tec/4to semestre/Estructura de datos/Registradora/nbproject/private/
/Tec/4to semestre/Estructura de datos/ExamenUnidad1/nbproject/private/
/Tec/4to semestre/Estructura de datos/ExamenUnidad1/build/
/Tec/4to semestre/Estructura de datos/Shellsort/nbproject/private/
/Tec/4to semestre/Estructura de datos/Shellsort/build/
/Tec/5to semestre/EjemploVentana/nbproject/private/
/Tec/5to semestre/EjemploVentana/build/
/Tec/5to semestre/Login/nbproject/private/
/Tec/5to semestre/Login/build/
/Tec/5to semestre/PerroGatoRaton/nbproject/private/
/Tec/5to semestre/PerroGatoRaton/build/
/Tec/5to semestre/Colores/nbproject/private/
/Tec/5to semestre/Colores/build/
/Tec/5to semestre/ListaColores/nbproject/private/
/Tec/5to semestre/ListaColores/build/
/Tec/5to semestre/ColoresCombo/nbproject/private/
/Tec/5to semestre/ColoresCombo/build/
/Tec/5to semestre/Cotizacion/nbproject/private/
/Tec/5to semestre/Cotizacion/build/
/Tec/5to semestre/Deslizador/nbproject/private/
/Tec/5to semestre/Deslizador/build/
/Tec/5to semestre/SpinnerEjemplo/nbproject/private/
/Tec/5to semestre/SpinnerEjemplo/build/
/Tec/5to semestre/BarraMenu/nbproject/private/
/Tec/5to semestre/BarraMenu/build/
/Tec/5to semestre/BarraHerramientas/nbproject/private/
/Tec/5to semestre/BarraHerramientas/build/
/Tec/5to semestre/ProyectoParking/nbproject/private/
/Tec/5to semestre/ProyectoParking/build/
/Tec/5to semestre/RompecabezasExpresionista/nbproject/private/
/Tec/5to semestre/RompecabezasExpresionista/build/
/Tec/5to semestre/Rompecabezas/nbproject/private/
/Tec/5to semestre/Rompecabezas/build/