*.class

/Practicas/CalculadoraSIF/nbproject/private/
/Practicas/CalculadoraSIF/build/
/Practicas/Jueguitos/nbproject/private/
/Practicas/Jueguitos/build/
/Practicas/Reaprendiendo/build/
/Practicas/Reaprendiendo/dist/
/Practicas/Pruebas/nbproject/private/
/Practicas/Pruebas/build/
/Practicas/Clase/nbproject/private/
/Practicas/Clase/build/
/Practicas/Tienda/nbproject/private/
/Practicas/Tienda/build/
/Practicas/Examen/nbproject/private/
/Practicas/Examen/build/