*.class
*.exe

/Practicas/CalculadoraSIF/nbproject/private/
/Practicas/CalculadoraSIF/build/
/Practicas/Jueguitos/nbproject/private/
/Practicas/Jueguitos/build/
/Practicas/Reaprendiendo/build/
/Practicas/Reaprendiendo/dist/
/Practicas/Pruebas/nbproject/private/
/Practicas/Pruebas/build/
/Practicas/Clase/nbproject/private/
/Practicas/Clase/build/
/Practicas/Tienda/nbproject/private/
/Practicas/Tienda/build/
/Practicas/Examen/nbproject/private/
/Practicas/Examen/build/
/Tec/Segundo_sem/POO/Proyectos_clases/MiPrimerProyecto/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/MiPrimerProyecto/build/
/Tec/Segundo_sem/POO/Proyectos_clases/SegundoProyecto/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/SegundoProyecto/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DepSocial/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DepSocial/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCadenas/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCadenas/build/
/Tec/Segundo_sem/POO/Proyectos_clases/EjemploPersona/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/EjemploPersona/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Cartelera/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/ProbaEsta/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCliente/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoCliente/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Escuela/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DeArregloEst1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DeArregloEst1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DeArreglo2/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Empresa1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Empresa1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppAgenda/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AppAgenda/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Caja/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoSuper1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoSuper1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoHerencia1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoHerencia1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppTienda/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoEmpre1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoEmpre1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppUniversitaria/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AppBiblioteca/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AppBiblioteca/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Windows/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Windows/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoTienda/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoTienda/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Figura/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoPersonalidades/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoBaseDatos/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoBaseDatos/build/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura2/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/DemoFigura2/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AppTienda/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Try1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Try1/build/
/Tec/Segundo_sem/POO/Proyectos_clases/AlumnoExc/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/AlumnoExc/build/
/Tec/Segundo_sem/POO/Proyectos_clases/Excepcion1/nbproject/private/
/Tec/Segundo_sem/POO/Proyectos_clases/Excepcion1/build/
/Tec/Segundo_sem/POO/Examen_07042017/AppTienda/nbproject/private/
/Tec/Segundo_sem/POO/Examen_07042017/AppTienda/build/
